# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\geek-brains\Python\boardGame_console_edition\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
